br
if user
  -var userName=user.name
  -var userEmail=user.email
else
  -var userName=''
  -var userEmail=''

div(ng-controller='ngComment' ng-init='articleId="#{post._id}";username="#{userName}"; useremail="#{userEmail}"; initComment();')

  h4 Comments:
  span(ng-repeat='comment in postComments[0].comments' class='small')
    img(src='{{comment.avatar}}?s=12')
    span &nbsp;&nbsp; {{comment.name}}
    span &nbsp;&nbsp; {{comment.time}}
    p {{comment.content}}

  input(ng-model='articleId' type='hidden' )
  label User:
  input(ng-model='username' type='text' )
  br
  label Email:
  input(ng-model='useremail' type='text' )
  br
  textarea(ng-model='content')
  br
  button.btn(type='submit' ng-click='sendPost()') Submit
