
div(id='feathersHeading' class='row')
  div(class='col-sm-12')
    h2 More Features
    p.lead asfd ajwoei aweofi awerpij awpergweiog

div(id='features' class='row')
  div(class='col-sm-4 feature')
    div(class='panel panel-default')
      div(class='panel-heading')
        h5 markup html5
      div(class='panel-body')
        img(src='/images/badge_html5.jpg' alt='html5' class='img-circle')
        p aklfas lkajsdf alksjfd
        a(href='#' class='btn btn-warning btn-block')  hahah
  div(id='topViews' class='col-sm-4 feature')
    div(class='panel panel-default')
      div(class='panel-heading')
        h5 Top Views
      div(class='panel-body')
        ul(class='list-unstyled text-left')
          each post in posts
            li()
              -var shownLength=14;
              if(post.title.length>shownLength)
                a(href='/p/#{post._id}')=post.title.substr(0,shownLength)+'...'
              else
                a(href='/p/#{post._id}') #{post.title}
              span(class='pull-right level3Text') #{post.pv} views
        a(href='/all' class='btn btn-danger btn-block')  View All
  div(id='newMenbers' class='col-sm-4 feature')
    div(class='panel panel-default')
      div(class='panel-heading')
        h5 New Members
      div(class='panel-body')
        ul(class='list-unstyled')
          each user in users
            li(class='')
                a( href='/u/#{user.name}')
                  img(class='avatarSmall' src='#{user.avatar}?s=20')
                  |   #{user.name}
        a(href='#' class='btn btn-info btn-block')  hahah