div(id='recentPosts' class='row')
  div(class='col-sm-12')

    div(class='page-header')
      h3 Recent Posts
        small  subheader
    ul(class='list-group')
      each post in posts
        li(class='list-group-item')

          img(src='#{post.avatar}')
          a(href='/p/#{post._id}') #{post.title}
          |  Auther:
          a(href='/u/#{post.name}') #{post.name}
      
          h6  Date:#{post.dates[0].time}
            include _stat.jade

          p #{post.article}
      include ./_paging.jade