div(id='recentPosts' class='row')
  div(class='col-sm-12')

    div(class='page-header')
      h3 All Recent Posts
        small  subheader
    ul(class='list-group')
      each post in posts
        li(class='list-group-item')

          h4
            a(href='/p/#{post._id}') #{post.title}  
          div(class='level2Text')
            include _stat.jade
          
            span &nbsp;&nbsp;&nbsp;Auther:
              img(src='#{post.avatar}?s=16')
              a(href='/u/#{post.name}') #{post.name}
              span(class='pull-right')  Date:#{post.dates[0].time}
          -var abstractLength=100;
          if(post.article.length>abstractLength)
            p(class='articleBreakWord')=post.article.substr(0,abstractLength)+'...'
          else
            p(class='articleBreakWord')=post.article
      include ./_paging.jade