doctype
head
  include links.jade
body
  include header.jade

  ul(class='archive')
    -var lastYear = 0
    each post in posts
      if lastYear!=post.dates[0].year
        li
          h4 #{post.dates[0].year}
        -lastYear=post.dates[0].year
      li #{post.dates[0].day}
      li
        a(href='/p/#{post._id}') #{post.title}

  include footer.jade
