doctype html
head
  include links.jade
body
  include header.jade
  
  if(user&&(user.name == post.name))
    a(href='/edit/#{post._id}') edit
    a()  
    a(href='/remove/#{post._id}') remove

  h2 #{post.title}
  p(class='info') Author:
    a(href='/u/#{post.name}') #{post.name}
    a()  | #{post.dates[0].time}

  each tags in post.tags
    a()    
    a(class='tag' href='/tags/#{tags}') #{tags}
      
  p #{post.article}

  include stat.jade
  include comment.jade

  include footer.jade
