doctype html
head
  include links.jade
body
  include header.jade
  
  h2 #{post.title}
  p(class='info') Author:
    a(href='/u/#{post.name}') #{post.name}
    a()  | #{post.time.minute}
  p #{post.post}

  include footer.jade
