extends ./parts/_layout.jade

block headerAndBody
  include ./parts/_signinAlert.jade
  



  h1 #{post.title}

  h5(class='info') Author:
    a(href='/u/#{post.name}')  #{post.name}
    span()   #{post.dates[0].time}

  if (post.tags[0]||post.tags[1]||post.tags[2])
    h5 Tags:
      each tags in post.tags
        span  &nbsp;&nbsp;
        a(class='tag' href='/tags/#{tags}') #{tags}
      
  p(class='postArticle') #{post.article}


    br
    if(post.images[0])
      each image in post.images[0].files
        img(class='article-img thumbnail' src='/uploadImages/#{image.filename}')
  br
  include ./parts/_stat.jade
  if(user&&(user.name == post.name))
  br

  div(ng-controller='editOrDelete' ng-init='emailName="#{userName}";')
    a.btn(href='/edit/#{post._id}') Edit
    a.btn(href='#confirmDelete' data-toggle='modal') Delete
    div(class='modal fade' id='confirmDelete')
      div(class='modal-dialog modal-sm')
        div(class='modal-content')
          div(class='modal-header')
            button(class='close' data-dismiss='modal') &times;
            h4(class='modal-title') Are you sure?
          div(class='modal-body')
            span Remove article 
              b #{post.title}
          div(class='modal-footer')
            a.btn(class='btn-default' data-dismiss='modal') Close &nbsp;&nbsp;&nbsp;&nbsp;
            a.btn(class='btn-danger' href='/remove/#{post._id}') Confirm

  include ./parts/_comment.jade

block footer
  include ./parts/_footer.jade
