extends ./_layout.jade

block headerAndBody
  include ./_loginAlert.jade
  



  h2 #{post.title}

  h5(class='info level2Text') Author:
    a(href='/u/#{post.name}')  #{post.name}
    span()   #{post.dates[0].time}

  if post.tags[0]
    h5 Tags:
      each tags in post.tags
        span  &nbsp;&nbsp;
        a(class='tag' href='/tags/#{tags}') #{tags}
      
  p(class='postArticle') #{post.article}


    br
    if(post.images[0])
      each image in post.images[0].files
        img(class='article-img' src='/uploadImages/#{image.filename}')
  br
  include ./_stat.jade
  if(user&&(user.name == post.name))
  br
  a(href='/edit/#{post._id}') Edit 
  a(href='/remove/#{post._id}') Delete

  include ./_comment.jade

block footer
  include ./_footer.jade
