br

h4 Comments:
br
each comment in post.comments
  a() #{comment.name}  
  a() #{comment.time}  :
  p #{comment.content}


form(method='post' action = '/u/#{post.name}/#{post.time.day}/#{post.title}')
  if user
    a() user:
    input(type='text' name='name' value='#{user.name}' ) 
    br
    a() email:
    input(type='text' name='email' value='#{user.email}')
    br
    br
    textarea(name='content')
    input(type='submit')
