br

h4 Comments:
br
each comment in post.comments
  img(src='#{comment.avatar}')
  a() #{comment.name}  
  a() #{comment.time}  :
  p #{comment.content}


form(method='post' action = '/p/#{post._id}')
  if user
    -var userName=user.name
    -var userEmail=user.email
  else
    -var userName=''
    -var userEmail=''
  a() user:
  input(type='text' name='name' value='#{userName}' )
  br
  a() email:
  input(type='text' name='email' value='#{userEmail}')
  br
  textarea(name='content')
  input(type='submit')
