doctype html
head
  include links.jade
body
  include header.jade

  each post in posts
    a(href='/u/#{post.name}/#{post.time.day}/#{post.title}') #{post.title}
    a  Auther:#{post.name} Date:#{post.time.minute}
    p #{post.post}
    br


  include footer.jade
