doctype html
head
  include links.jade
body
  include header.jade

  each post in posts
    a(href='/u/#{post.name}/#{post.time.day}/#{post.title}') #{post.title}
    a  Auther:#{post.name}
    img(src='#{post.avatar}')
    a  Date:#{post.time.minute}
    br
    include stat.jade
    br
    p #{post.post}
    br

  include paging.jade
  include footer.jade
