extends ./_layout.jade

block headerAndBody



  div(id='liveSearch' class='row')
    div(ng-controller='ngSearch' class='col-sm-12 ')
      h3 Search of:  
        span(ng-show='!keyword') #{keyword}
        span(ng-show='keyword') {{keyword}}

      form(class='navbar-form' action='/search'   method='GET')
        input(ng-change='startSearch()' ng-model='keyword' type='text' class='form-control ' name='keyword' placeholder='Search ...' autocomplete='off') 
      ul(class='list-unstyled')
        li(ng-repeat='post in posts')
          a(href='/p/{{post._id}}') {{ post.title }}
          span(class='pull-right level3Text') &nbsp;&nbsp;&nbsp; Author: {{post.name}} &nbsp;&nbsp;&nbsp; {{post.dates[0].day}}
      span(ng-show='!keyword') 
        ul(class='list-unstyled')
          each post in posts
            li 
              a(href='/p/#{post._id}')  #{post.title}
              span(class='pull-right level3Text') &nbsp;&nbsp;&nbsp; Author: #{post.name}
                | &nbsp;&nbsp;&nbsp; #{post.dates[0].day}
        
block footer
  include ./_footer.jade
