doctype html
head
  include links.jade
body
  include header.jade

  each post in posts
    if (lastYear != post.time.year)
      li #{post.time.year}
      -lastYear= post.time.year
      li #{post.time.day}
      li
        a(href='/u/#{post.name}/#{post.time.day}/#{post.title}') #{post.title}
      
  include footer.jade
