doctype html
head
  include links.jade
body
  include header.jade

  each post in posts
    h4
      a(href='/u/#{post.name}/#{post.time.day}/#{post.title}') #{post.title}
      a()  
      a(href='/u/#{post.name}') Author:#{post.name}
      a()  | #{post.time.minute}

  include paging.jade
  include footer.jade
