br
if user
  -var userName=user.name
  -var userEmail=user.email

else
  -var userName=''
  -var userEmail=''

div(ng-controller='ngComment' ng-init='articleId="#{post._id}";username="#{userName}"; useremail="#{userEmail}"; initComment();')

  h4 Comments:
  hr
  span(ng-repeat='comment in postComments[0].comments' class='')
    img(ng-src='{{comment.avatar}}20')
    span()   
    a(href='mailto:{{comment.email}}')  {{comment.name}}
    span &nbsp;&nbsp; {{comment.time}}
    p {{comment.content}}
    hr
  div(class='input-group col-sm-6')
    input(ng-model='articleId' type='hidden' )
    label(for='username') User:
    input(ng-model='username' id='username' type='text' class='form-control')
    br
    label(for='useremail') Email:
    input(ng-model='useremail' id='useremail' type='text' class='form-control')
    br
    label(for='commentContent') Comment:
    textarea(ng-model='content' id='commentContent' class='form-control' rows='5')
    br
    button.btn(ng-disabled='!(articleId && username && useremail && content)' type='submit' ng-click='sendPost()') Submit
