
div(id='feathersHeading' class='row')
  div(class='col-sm-12')
    h2 More Features
    p.lead asfd ajwoei aweofi awerpij awpergweiog

div(id='features' class='row')
  div(class='col-sm-4 feature')
    div(class='panel panel-default')
      div(class='panel-heading')
        h5 Send feedback Email
      div(class='panel-body')
        if user
          -var userName=user.name
          -var userEmail=user.email

        else
          -var userName=''
          -var userEmail=''
        div(ng-controller='sendEmail' ng-init='emailName="#{userName}"; emailAddress="#{userEmail}";')
          div(class='input-group text-left col-sm-12' )

            label(for='emailName' ) Name:
            input(ng-model='emailName' name='emailName' type='text' class='form-control'  autocomplete='off')
            br
            label(for='emailAddress') Email:
            input(ng-model='emailAddress' name='emailAddress' type='text' class='form-control'  autocomplete='off')
            br
            label(for='emailContent') Content:
            textarea(ng-model='emailContent' name='emailContent' class='form-control' rows='3'  autocomplete='off')
            br
            button.btn(ng-disabled='!(emailName && emailAddress && emailContent)' type='submit' ng-click='sendEmail()'  class='btn btn-warning btn-block' href='#sendingEmail' data-toggle='modal') Submit

            div(class='modal fade' id='sendingEmail'  tabindex="-1")
              div(class='modal-dialog modal-sm')
                div(class='modal-content')
                  div(class='modal-header')
                    button(class='close' data-dismiss='modal') &times;
                    h4(class='modal-title') Sending Email
                  div(class='modal-body')
                    span {{statusMessage}} 


  div(id='topViews' class='col-sm-4 feature')
    div(class='panel panel-default')
      div(class='panel-heading')
        h5 Top Views
      div(class='panel-body')
        ul(class='list-unstyled text-left')
          each post in posts
            li()
              -var shownLength=14;
              if(post.title.length>shownLength)
                a(href='/p/#{post._id}')=post.title.substr(0,shownLength)+'...'
              else
                a(href='/p/#{post._id}') #{post.title}
              span(class='pull-right level3Text') #{post.pv} views
        a(href='/all' class='btn btn-danger btn-block')  View All
  div(id='newMenbers' class='col-sm-4 feature')
    div(class='panel panel-default')
      div(class='panel-heading')
        h5 New Members
      div(class='panel-body')
        ul(class='list-unstyled')
          each user in users
            li(class='')
                a( href='/u/#{user.name}')
                  img(class='avatarSmall' src='#{user.avatar}12')
                  |   #{user.name}
        a(href='#' class='btn btn-info btn-block')  hahah